body{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

header{
    background-image: url("../img/mini-profile-bg-01.jpg");
    background-size: cover;
    height: 250px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

header div {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 70%;
}

h1{
    font-size: 3rem;
}

#welcome{
    background-color: rgb(240, 240, 240);
}

section {
    padding: 10px;
}

.green{
    color: green
}

.blue{
    color: #3398cc;
}

.orange{
    color: #cc6733;
}

.grey{
    color: #676767;
}

footer{
    text-align: center;
    background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );

}
footer a {
    display: inline-block;
    transform: scale(1, 1);
    transition: transform 0.5s ease;

}

footer a:hover {
    transform: scale(1.5, 1.5);

}


@media (min-width: 640px){

}

@media (min-width: 768px){
    #welcome {
        display: flex;
    }
    #welcome article {
        padding: 20px;
    }
    #images article {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin-right: 10px;
        align-items: center;
        text-align: center;

    }
    #figuration figure{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 10px;
        align-items: center;
        text-align: center;
    }
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(860px);
    }
    60%{
        transform: translateX(-860px);
    }
    100%{
        transform: translateX(0);
    }
}